# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
.env
.env.local
.env.development
.env.testing
.env.production
.phpunit.result.cache

# Frontend (Vite or Webpack)
npm-debug.log
yarn-error.log

# IDE/Editor files
/.idea
/.vscode

# Docker / Homestead
docker-compose.override.yml
Homestead.json
Homestead.yaml

# Hot reload (Vite/Laravel Mix)
public/hot
